{% set domains = frappe.get_doc("Domain Settings").active_domains %}
{% set links = {
	'Manufacturing': '/manufacturing',
	'Services': '/services',
	'Retail': '/retail',
	'Distribution': '/distribution',
	'Non Profit': '/non-profit',
	'Education': '/education',
	'Healthcare': '/healthcare',
	'Agriculture': '/agriculture',
	'Hospitality': ''
} %}
{% set link = '' %}
{% if domains %}
	{% set link = links[domains[0].domain] %}
{% endif %}

<a> <b><a style="color:#1877F2;">PivotERP</a></b> - Powered by ERPNext </a>
